input[type='range'] {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    border-radius: 9999px;
    background: #f97316;
    border: 2px solid #0f172a;
    cursor: pointer;
    margin-top: -11px; // centrar thumb en track
  }

  &::-moz-range-thumb {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #f97316;
    border: 2px solid #0f172a;
    cursor: pointer;
  }

  &::-ms-thumb {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #f97316;
    border: 2px solid #0f172a;
    cursor: pointer;
  }
}
